<div class="main-content">
<section style="background-color: #f5f5f5;">
	<div class="container">
		<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li class="active">About</li>
</ol>
  </div>
  </section>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Empson USA About US</h2>
			<div class="separator-2" style="width: 100%;"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-4 col-xs-6">
			<ul class="nav nav-pills nav-stacked">
				<li class="active listindex"><a href="#/about">About Us</a></li>
				<li class="listindex"><a href="#/contact">Contact Us</a></li>
				<li class="listindex"><a href="#/faq">FAQ</a></li>
				<li class="listindex"><a href="#/privacy">Privacy Policy</a></li>
				<li class="listindex"><a href="#/siteMap">Site Map</a></li>
				<li class="listindex"><a href="#/terms">Terms & Conditions</a></li>
			</ul>
		</div>
		<div class="col-md-9">
			<p><img src="images/AboutUs.jpg" style="width: auto; heigth:auto"></p>
			<h2 class="featurette-heading">The Story</h2>
			<p>In the late 1960’s Neil and Maria Empson spent their days buying, restoring, and selling Ferraris
				and Maseratis. During a celebratory trip to Milan, the destiny of this couple was forever changed
				as they realized that very few, if any, of the wonderful wines they fell in love with would ever reach
				admirers abroad. Maria (Gemma) Empson, an artist born in America but raised by a family with
				deep Italian roots, and Neil Empson, a Kiwi whose family cultivated some of the first vineyards in
				Marlborough, were mesmerized by the rich agriculture of this unspoiled land. At the time, the
				Italian wine market was self-sustaining and producers need not look beyond their own borders for
				new markets or customers. These producers were focused inwardly instead; embracing new
				technology and furthering an already blossoming quality revolution. It became the Empson’s
				personal and professional mission to expose the world to the truly unique wines that Italy had
				been crafting for centuries.</p>
			<p>Neil and Maria were pioneers when they began importing Italian wines into the United States in
			1971. They spent countless hours driving the Italian countryside in search of producers that could
			share in their vision of quality, consistency, and remarkability. The Empsons focused on creating
			relationships with boutique producers that emphasized excellence and value. They convinced
			many virtuosos of viticulture to part with a small percentage of their precious production. It was a
			leap of faith that became a relationship of mutual esteem and trust, which with time, blossomed
			into friendship. Forty years later, Neil and Maria, along with their daughter Tara, are still at the
			forefront of the wine industry and have since expanded their reach, bringing Italian wines to
			countries across the globe.</p>
			<h2 class="featurette-heading">About Us</h2>
			<p>Empson (U.S.A.), Inc., the United States center of operations, was formed in 1991 to better serve an
			ever increasing demand for quality imported wines. The company’s headquarters office is located in the
			Washington, D.C. Metro Area, and leads a nationwide sales team of veteran managers. Under the
			guidance of Neil & Maria and the experienced corporate team of Empson USA the portfolio has
			expanded to include imports from all parts of Italy as well as New Zealand and Chile. The landscape of
			the wine industry is dynamically changing and the palate of the consumer today is ephemeral. The
			search for new producers with exciting and innovative production technologies supported by rich
			foundations of agricultural history is never ending. The vision for Empson USA remains unfaltering; a
			promise to always make the viticultural jewels of the world available to consumers for generations to come.</p>
			<h2 class="featurette-heading">What Can We Do For You?</h2>
			<p>Reliability, personalized sales support, and logistical management have always been at the forefront of
			the Empson USA mission, and it is our goal to provide the highest-quality service and product obtainable.</p>
			<p>Empson USA focuses heavily on the product to value ratio. The American market is saturated with wine
			offerings, and the ability to consistently provide competitively priced, high quality products is a defining
			element of our portfolio.</p>
			<p>Empson USA maintains inventory in two warehouses in the United States to ensure continuity of wine supply.</p>
			<p>Empson USA is dedicated to education and information sharing. Our website is under constant
			examination and development, offering new tools, marketing materials, and easy access to third party reviews.</p>
			<h2 class="featurette-heading">And Why Would You Choose Us?</h2>
			<h4>40 Years</h4>
			<p>For over 40 years Empson’s commitment to representing quality wines has never wavered. The Empson
			family has and always will be flanked by a team of highly experienced executives. As the company
			ownership gradually transitions from one generation to the next, this commitment to their customers
			remain steadfast.</p>
			<p>The global headquarters is still located in Milan, with Empson USA, Empson Canada, and Empson Japan
			proudly supporting the Empson name and tradition abroad.</p>
			<h4>50 States</h4>
			<p>Empson USA has distribution in all 50 states.  These long term partnerships are key in providing
			continuity of supply to all clients.</p>
			<p>Empson USA employs a team of experienced Sales Managers strategically located around the country to
			support customers on all levels of the three tier system.</p>
			<h4>Results</h4>
			<p style="padding: 20px; text-align: center;"><i>Empson has grown from a two person organization operating out of an unassuming
			apartment in Milan to a multinational corporation. The Empson name has become
			synonymous with excellence, effectively representing over 50 of the finest estates.</i></p>
			<p style="padding: 20px; text-align: center;"><i>“The floodgates opened wide starting in the 1980s. You had Neil and Maria Empson,
			who proselytized fine Italian wines at a time when that very phrase was, if not entirely unknown, viewed with skepticism.
			They crisscrossed America selling then-unknown but now-famous producers such as Costanti, Marcarini and, not least, Angelo Gaja,
			among the dozens of others they introduced to curious American wine lovers.”</i></p>
			<p style="padding: 20px; text-align: center;"><i>-Matt Kramer “The Most Powerful Force in Fine Wine,” Wine Spectator</i></p>
		</div>
	</div>
</div>
</div>
