<div class="main-content">
<section style="background-color: #f5f5f5;">
	<div class="container">
		<ol class="breadcrumb">
		  <li><a href="#/">Home</a></li>
		  <li class="active">Contact</li>
		</ol>
	</div>
</section>
<div class="container">
    <div class="row">
		<div class="col-md-12">
			<h2>How to Reach Us?</h2>
			<div class="separator-2" style="width: 100%;"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3 col-sm-4 col-xs-6">
			<ul class="nav nav-pills nav-stacked">
				<li class="listindex"><a href="#/about">About Us</a></li>
				<li class="active listindex"><a href="#/contact">Contact Us</a></li>
				<li class="listindex"><a href="#/faq">FAQ</a></li>
				<li class="listindex"><a href="#/privacy">Privacy Policy</a></li>
				<li class="listindex"><a href="#/siteMap">Site Map</a></li>
				<li class="listindex"><a href="#/terms">Terms & Conditions</a></li>
			</ul>
		</div>
		<div class="col-md-9">
			<section id="contact-info">
			<div class="gmap-area">
				<div class="container">
					<div class="row">
						<div class="col-sm-5 text-center">
							<div class="gmap" style="width:auto">
								<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3109.233096050633!2d-77.048114!3d38.804212!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b0562dc97d37%3A0x5e09ad32a22c5c65!2sEmpson+USA+Inc!5e0!3m2!1sen!2sus!4v1432777815220" width="400" height="300" frameborder="0" style="border:0"></iframe>
							</div>
						</div>
                    <div class="col-sm-7 map-content">
                        <ul class="row" style="list-style: none;">
                            <li class="col-sm-6">
                                <address>
                                    <h5>Head Office</h5>
                                    <p>719 Prince Street <br>
                                       Alexandria, VA 22314</p>
                                    <p>Phone: (703) 684-0900  <br>
									<p>Fax: (703) 684-2065  <br>
                                    Email Address:info@empsonusa.com</p>
                                </address>
                            </li>
                        </ul>
                    </div>
					</div>
				</div>
			</div>
			</section>  <!--/gmap_area -->




			<section id="contact-page">
			<div class="container">
				<div class="center">
					</br>
					<h2>Send Us a Message</h2>
				</div>
				<div class="row contact-wrap">
					<div class="status alert alert-success" style="display: none"></div>
					<form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php">
					<div class="col-sm-5">
						<div class="form-group">
							<label>Name *</label>
							<input type="text" name="name" class="form-control" required="required">
						</div>
						<div class="form-group">
							<label>Email *</label>
							<input type="email" name="email" class="form-control" required="required">
						</div>
						<div class="form-group">
							<label>Phone</label>
							<input type="number" class="form-control">
						</div>
						<div class="form-group">
							<label>Company Name</label>
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="col-sm-5">
						<div class="form-group">
							<label>Subject *</label>
							<input type="text" name="subject" class="form-control" required="required">
						</div>
						<div class="form-group">
							<label>Message *</label>
							<textarea name="message" id="message" required="required" class="form-control" rows="6"></textarea>
						</div>
						<div class="form-group">
							<button type="submit" name="submit" class="btn btn-gray btn-md" required="required">Submit Message</button>
						</div>
					</div>
					</form>
				</div><!--/.row-->
			</div><!--/.container-->
			</section><!--/#contact-page-->
		</div>
	</div>
</div>
