<div class="main-content">
<section style="background-color: #f5f5f5;">
	<div class="container">
		<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li class="active">Privacy Policy</li>
</ol>
  </div>
  </section>
<div class="container">
	<div class="row">
			<div class="col-md-12">
				<h2>Privacy Policy</h2>
				<div class="separator-2" style="width: 100%;"></div>
			</div>
		</div>
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#/about">About Us</a></li>
				<li><a href="#/contact">Contact Us</a></li>
				<li><a href="#/faq">FAQ</a></li>
				<li class="active"><a href="#/privacy">Privacy Policy</a></li>
				<li><a href="#/siteMap">Site Map</a></li>
				<li><a href="#/terms">Terms & Conditions</a></li>
			</ul>
		</div>
		<div class="col-md-9">
			<p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally 
			Identifiable Information' (PII) is being used online. PII, as used in US privacy law and information  
			security, is information that can be used on its own or with other information to identify, contact, or locate 
			a single person, or to identify an individual in context. Please read our privacy policy carefully to get a 
			clear understanding of how we collect, use, protect or otherwise handle your PII in accordance with our 
			website. Your use of Empson USA website <a href="www.empsonusa.com">www.empsonusa.com</a> (website”) means you agree to the 
			terms and conditions below. This policy may be updated or changed at any time in Empson USA, Inc,’s 
			discretion. Please check this page periodically for any changes.</p>
			<p>The term ‘Empson USA’ or ‘us’ or ‘we’ refers to the owner of the website whose registered office is 
			located at 719 Prince Street, Alexandria, VA, 22314. The term ‘user’ refers to the user or viewer of this website.</p>
			<h2 class="featurette-heading">We collect our users’ names, email addresses, and their individual passwords. In addition to personal 
			information, we collect user preferences and site activities.</p>
			<h2 class="featurette-heading">When do we collect information?</h2>
			<p>We collect personal information from you when you register on our site or enter information on our site. 
			Other information are collected when you respond to a survey or marketing communication, surf the 
			website, or use certain other site features.</p>
			<h2 class="featurette-heading">How do we use your information?</h2>
			<p>We may use the information we collect in the following ways:
				<ul>
					<li>To personalize user's experience and to allow us to deliver the type of content and product offerings 
					in which you are most interested.</li>
					<li>To send periodic emails regarding your order or other products and services.</li>
				</ul>
			</p>
			<h2 class="featurette-heading">How do we protect visitor information?</h2>
			<p>Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make 
			your visit to our site as safe as possible. We use regular Malware Scanning. We do not use an SSL 
			certificate because we do not collect your personal credit card information. While we use reasonable 
			efforts to safeguard the confidentiality of users’ PII, transmissions by means of the Internet cannot be 
			made absolutely secure. You agree that Empson USA will have no liability for disclosure of any such 
			information due to errors in transmission or unauthorized acts of third parties.</p>
			<h2 class="featurette-heading">Do we use 'cookies'?</h2>
			<p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive 
			through your Web browser (if you allow) that enables the site's or service provider's systems to recognize 
			your browser and capture and remember certain information. For instance, we use cookies to help us 
			remember and process the items in your shopping cart. They are also used to help us understand your 
			preferences based on previous or current site activity, which enables us to provide you with improved 
			services. We also use cookies to help us compile aggregate data about site traffic and site interaction so 
			that we can offer better site experiences and tools in the future.</p>
			<h4>We use cookies to:</h4>
			<p>
				<ul>
					<li>Help remember and process the items in the shopping cart.</li>
					<li>Compile aggregate data about site traffic and site interactions in order to offer better site experiences 
					and tools in the future. We may also use trusted third party services that track this information on our behalf.</li>
				</ul>
			</p>
			<p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to 
			turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a 
			little different, so look at your browser's Help menu to learn the correct way to modify your cookies.</p>
			<p>If users disable cookies in their browser:</p>
			<p>Some features will be disabled. It will turn off some of the features that make your site experience more 
			efficient and some of our services will not function properly.</p>
			<h2 class="featurette-heading">Third Party Disclosure</h2>
			<p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.</p>
			<p>Third party links</p>
			<p>We do not include or offer third party products or services on our website.</p>
			<h2 class="featurette-heading">Google</h2>
			<p>Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in 
			place to provide a positive experience for users.<br>
			<a href="https://support.google.com/adwordspolicy/answer/1316548?hl=en" target="_blank">https://support.google.com/adwordspolicy/answer/1316548?hl=en</a></p>
			<p>We use Google AdSense Advertising on our website.</p>
			<p>Google, as a third party vendor, uses cookies to serve ads on our site. Google's use of the DART cookie 
			enables it to serve ads to our users based on their visit to our site and other sites on the Internet. Users 
			may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy.</p>
			<p>We have implemented the following:</p>
			<ul>
				<li>Google Display Network Impression Reporting</li>
				<li>Demographics and Interests Reporting</li>
			</ul>
			<p>We along with third-party vendors, such as Google use first-party cookies (such as the Google Analytics 
			cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together 
			to compile data regarding user interactions with ad impressions, and other ad service functions as they 
			relate to our website.</p>
			<p>Opting Out:</p>
			<p>Users can set preferences for how Google advertises to you using the Google Ad Settings page. 
			Alternatively, you can opt out by visiting the Network Advertising initiative opt out page or permanently 
			using the Google Analytics Opt Out Browser add on.</p>
			<h2 class="featurette-heading">California Online Privacy Protection Act (“CalOPPA”)</h2>
			<p>CalOPPA is the first state law in the nation to require commercial websites and online services to post a 
			privacy policy. The law's reach stretches well beyond California to require a person or company in the 
			United States (and conceivably the world) that operates websites collecting personally identifiable 
			information from California consumers to post a conspicuous privacy policy on its website stating exactly 
			the information being collected and those individuals with whom it is being shared, and to comply with 
			this policy. - See more at: <a href="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf" target="_blank">http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</a></p>
			<p>In accordance with CalOPPA, we agree to the following:</p>
			<ul>
				<li>Users can visit our site anonymously</li>
				<li>Once this privacy policy is created, we will add a link to it on our home page, or as a minimum 
			on the first significant page after entering our website.</li>
				<li>Our Privacy Policy link includes the word 'Privacy', and can be easily be found on the page specified above.</li>
				<li>Users will be notified of any privacy policy changes on our Privacy Policy Page.</li>
				<li>Users are able to change their personal information by logging on to their account.</li>
			</ul>
			<h2 class="featurette-heading">How does our site handle do not track signals?</h2>
			<p>We honor do not track signals and do not track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>
			<h2 class="featurette-heading">Does our site allow third party behavioral tracking?</h2>
			<p>Yes, we allow third party behavioral tracking.</p>
			<h2 class="featurette-heading">COPPA (Children Online Privacy Protection Act)</h2>
			<p>When it comes to the collection of personal information from children under 13, the Children's Online 
			Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation's 
			consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and 
			online services must do to protect children's privacy and safety online.</p>
			<p>We do not market to children under 13.</p>
			<h2 class="featurette-heading">Fair Information Practices</h2>
			<p>The Fair Information Practices Principles form the backbone of privacy law in the United States and the 
			concepts they include have played a significant role in the development of data protection laws around the 
			globe. Understanding the Fair Information Practice Principles and how they should be implemented is 
			critical to comply with the various privacy laws that protect personal information.</p>
			<p>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</p>
			<ul>
				<li>We will notify the users via email within 1 business day; or</li>
				<li>We will notify the users via letter; or</li>
				<li>Any other means reasonably calculated to provide notice to our users</li>
			</ul>
			<p>We also agree to the individual redress principle, which requires that individuals have a right to pursue 
			legally enforceable rights against data collectors and processors who fail to adhere to the law. This 
			principle requires not only that individuals have enforceable rights against data users, but also that 
			individuals have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors.</p>
		</div>
	</div>
</div>
</div>