<div class="main-content">
<section style="background-color: #f5f5f5;">
	<div class="container">
		<ol class="breadcrumb">
  <li><a href="#/">Home</a></li>
  <li class="active">Privacy Policy</li>
</ol>
  </div>
  </section>
<div class="container">
	<div class="row">
			<div class="col-md-12">
				<h2>Privacy Policy</h2>
				<div class="separator-2" style="width: 100%;"></div>
			</div>
		</div>
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#/about">About Us</a></li>
				<li><a href="#/contact">Contact Us</a></li>
				<li><a href="#/faq">FAQ</a></li>
				<li><a href="#/privacy">Privacy Policy</a></li>
				<li><a href="#/siteMap">Site Map</a></li>
				<li class="active"><a href="#/terms">Terms & Conditions</a></li>
			</ul>
		</div>
		<div class="col-md-9">
			<p>Welcome to empsonusa.com (“website”). Your use of this website means you are agreeing to comply 
			with and be bound by the following terms and conditions of use, which together with our privacy policy 
			govern Empson USA’s relationship with you in relation to this website. If you disagree with any part of 
			these terms and conditions, please do not use our website.</p>
			<p>The term ‘Empson USA’ or ‘us’ or ‘we’ refers to the owner of the website whose registered office is 
			located at 719 Prince Street, Alexandria, VA, 22314. The term ‘you’ refers to the user or viewer of this website.</p>
			<p>The use of this website is subject to the following terms of use:</p>
			<ul>
				<li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
				<li>This website uses cookies to monitor browsing preferences. If you do allow cookies to be used, 
				aggregate data about site traffic and site interaction may be stored by us for use by third parties</li>
				<li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, 
				performance, completeness or suitability of the information and materials found or offered on this 
				website for any particular purpose. You acknowledge that such information and materials may 
				contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or 
				errors to the fullest extent permitted by law.</li>
				<li>Your use of any information or materials on this website is entirely at your own risk, for which 
				we shall not be liable. It shall be your own responsibility to ensure that any products, services or 
				information available through this website meet your specific requirements.</li>
				<li>This website contains material which is owned by or licensed to us. This material includes, but is 
				not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other 
				than in accordance with the copyright notice and trademark law, which forms part of these terms 
				and conditions.</li>
				<li>All trademarks reproduced in this website, which are not the property of, or licensed to the 
				operator, are acknowledged on the website.</li>
				<li>Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offence.</li>
				<li>From time to time, this website may also include links to other websites. These links are provided 
				for your convenience to provide further information. They do not signify that we endorse the 
				website(s). We take no responsibility for the content of the linked website(s).</li>
				<li>This website is controlled and operated by Empson USA from its offices within the United States. 
				By accessing this website you agree that the laws of the Commonwealth of Virginia, without 
				regard to conflicts of law principles, will apply to all matters relating to the use of this website.</li>
				<li>Any cause of action you may have with respect to your use of this website must be commenced 
				within one (1) year after the claim or cause of action arises or be forever waived and barred.</li>
				<li>If for any reason a court or other tribunal finds any provision of these Terms of Use to be 
				nenforceable, that provision will be enforced to the maximum extent permissible so as to effect 
				the intent of the Terms of Use, and the remainder of these Terms of Use will continue in full force and effect.</li>
				<li>Please send any notices, comments or questions to:______________________@empsonusa.com</li>
			</ul>
			
		</div>
	</div>
</div>
</div>